.chessboard {
    .item {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;






        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        @media (max-width:800px) {
            flex-direction: column-reverse;

            &:nth-of-type(even) {
                flex-direction: column-reverse;
            }
        }

        .left {
            width: 50%;
            padding: 200px;

            @media (max-width:800px) {
                width: 100%;
                padding: 10px;
            }


            h2 {
                font-size: 40px;
                text-align: center;
                margin: 0;
            }
        }

        .right {
            width: 50%;
            background-image: url("/assets/img/agency-banner.jpg");
            background-size: cover;
            background-position: center;

            @media (max-width:800px) {
                width: 100%;
            }

            img {
                display: none;


                @media (max-width:800px) {
                    max-width: 100%;
                    display: block;

                }
            }
        }
    }
}